---
layout: default
---

<section>
	<nav>
		{% for account in site.social %}
			<a href="{{ account.url }}">{{ account.name }}</a>
		{% endfor %}
	</nav>
</section>

<section>
	<h3><a href="posts.html">{{ site.texts.posts }}</a></h3>
	<ul>
		{% for post in site.posts %}

			<li>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl }}">{% if post.podcast %}&#x1f50a; {% endif %}{{ post.title }}</a>
				</div>
			</li>
			{% if forloop.index == 10 %}
			<li>
				<div class="title">
					<a href="posts.html">{{ site.texts.see_more }}</a>
				</div>
			</li>
				{% break %}
			{% endif %}

		{% endfor %}
	</ul>
</section>

