---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

	<p class="buybuttons">
	{% for link in page.links %} 
		<a href="{{ link.url }}" class="button bigger {{ link.class }}">{{ link.text }}</a>
	{% endfor %}
	</p>

	<p>
	{% if page.item == 'book' %}
در صورت استفاده از لینک‌های مشخص شده با <strong>علامت ستاره (*)</strong> برای خرید اینترنتی کتاب «{{ page.title }} اثر {{ page.writer }}»؛ محسن <strong>درصدی پورسانت دریافت خواهد کرد بدون اینکه شما مبلغ اضافه‌ای بپردازید</strong>. قبل از خرید اینترنتی کتاب سری به کتاب‌خانه ویا کتاب‌فروشی‌های محلی بزنید.
	{% elsif page.item == 'website' %}
در صورت استفاده از لینک زیر برای عضویت در، یا خرید از سایت «{{ page.title }}»؛ محسن <strong>درصدی پورسانت دریافت خواهد کرد بدون اینکه شما مبلغ اضافه‌ای بپردازید</strong>.
	{% endif %}
	</p>

</article>

<div class="back">
	<a href="#" onclick="history.back(-1)">{{ site.texts.back }}</a>
</div>
