---
layout: default
---
<noscript>
	<style>

		article .footnotes {
			display: block;
		}

	</style>
</noscript>

<article>

	<div class="center">
		<h1>{{ page.title }}</h1>
		<time>{{ page.date | date: '%B %-d, %Y' }}</time>
	</div>
	{% if site.podcast.statistics_prefix %}
		{% assign mp3 = page.podcast.mp3.file | remove_first: 'https://' | remove_first: 'http://' | prepend: site.podcast.statistics_prefix %}
		{% assign ogg = page.podcast.ogg.file | remove_first: 'https://' | remove_first: 'http://' | prepend: site.podcast.statistics_prefix %}
		{% assign opus = page.podcast.opus.file | remove_first: 'https://' | remove_first: 'http://' | prepend: site.podcast.statistics_prefix %}
	{% else %}
		{% assign mp3 = page.podcast.mp3.file %}
		{% assign ogg = page.podcast.opus.file %}
		{% assign opus = page.podcast.opus.file %}
	{% endif %}
	<div class="divider"></div>
	<audio preload="metadata" id="podcast-player" controls>
		<source src="{{ opus }}" type="audio/ogg; codecs=opus">
		<source src="{{ ogg }}" type="audio/ogg; codecs=vorbis">
		<source src="{{ mp3 }}" type="audio/mpeg">
		Your browser does not support the audio element. Here's download links: <a href="{{ mp3 }}" length="{{ page.podcast.mp3.size }}" download>Download MP3</a> / <a href="{{ ogg }}" download>Download OGG</a> / <a href="{{ opus }}" download>Download OPUS</a>
	</audio>
	<div id="description">
	{{ content }}
	</div>
</article>

<div class="back">
	<a href="{{site.baseurl}}/">{{ site.texts.back }}</a>
</div>

<script>
var audio = document.getElementById('podcast-player');
var des = document.getElementById('description');

des.innerHTML = des.innerHTML.replace(/\d\d:\d\d/g, function (x) {
  var a = x.split(':');
  var seconds;
  if (a.length == 2) {
    seconds = (+a[0]) * 60 + (+a[1]); 
  } else if (a.length == 3) {
    seconds = (+a[0]) * 3600 + (+a[1]) * 60 + (+a[2]); 
  }
  return '<a href="#' + seconds + '">' + x + '</a>';
});

window.addEventListener("hashchange", function () {
  audio.currentTime = parseInt(window.location.hash.slice(1));
  audio.play();
});

if (window.location.hash) {
  audio.oncanplay = function() {
    audio.currentTime = parseInt(window.location.hash.slice(1));
  };
}
</script>
